body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1000px;
    padding-top: 0px;
    

        
}


.topbar {
    padding-top: 465px;
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 120px;
    margin-right: 500px;
    background-image:  url(phonex.png);
    position: relative;
    right: 85px;
    top: 150px;
    
    
}


.test2 {
    background-color: rgb(255, 255, 255);
    padding-left: 720px;
    padding-right: 720px;
    padding-top: 50px;
    padding-bottom: 25px;
    position: fixed;
    
    
}

    
.baslık {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    position: fixed;
    left: 100px;
    bottom: 720px;
    font-size:56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50px;
    bottom: 350px;
    

    
    

}

.p2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 100px;
    bottom: 280px;


}

.down {
    
    background-image: url(appstore.png);
    padding-top: 52px;
    padding-left: 95px;
    padding-right: 100px;
    padding-bottom: 10px;
    position: relative;
    right: 50px;
    cursor: pointer;
    bottom: 250px;
    

}

.yazı1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 300px;
}

.yazı2 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 300px;
    bottom: 85px;

    
}

.yazı3 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 300px;
}
.yazı4 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 300px;
    bottom: 85px;
    
}

.den1 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 300px;
    bottom: 260px;
    
    
}

.den2 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 300px;
    bottom: 350px;

}

.den3 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    right: 300px;
    bottom: 260px;
}

.den4 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
    left: 300px;
    bottom: 350px;
      
}

.top1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   cursor: pointer;
   position: fixed;
   left: 700px;
   top: 5px;
}

.top2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    left: 850px;
    top: 5px;
 
 }

 .top3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    left: 1000px;
    top: 5px;
 
 }


 .top4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    left: 1170px;
    top: 5px;
    
 
 }

 .topbar2 {
    
     background-color: black;
     position: relative;
     
 }

 .test500 {
     background-image: url(phonex.png);
     width: 300px;
     padding-top: 581px;
     margin: 1px;
     position: relative;
     left: 300px;
 }

 .baslıkb {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 45px;
     position: relative;
     bottom: 400px;
     right: 300px;
 }

 .tew {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     position: relative;
     bottom: 400px;
     right: 265px;
 }
 
 .tew1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: relative;
    bottom: 400px;
    right: 300px;
 }

